<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeFellowsApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88AE82D41CC84F1E0019E998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AE82E81CC84F1F0019E998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AE82F31CC84F1F0019E998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
